<%= form_with(model: branch, local: true) do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
        <% branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :branch_code , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :branch_code, :class => 'form-control', :placeholder => 'Code', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :exit_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.number_field :exit_id , :class => 'form-control', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :is_private , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_private %>
      </div>
      <div class="form-group">
        <%= form.label :is_active , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_active %>
      </div>
      <div class="form-group">
        <%= form.label :city_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:city_id, options_for_select(City.all.collect {|u| [u.name, u.id]}, @branch.city_id), {:prompt => 'Select City '}, :class => 'form-control') %>
      </div>
      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
