<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Branches') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Branch', new_branch_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Id</th>
      <th>City</th>
      <th>Name</th>
      <th>Branch code</th>
      <th>Exit</th>
      <th>Is private</th>
      <th>Is active</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.id %></td>
        <td><%= City.find_by_id(branch.city_id).try(:name) %></td>
        <td><%= branch.name %></td>
        <td><%= branch.branch_code %></td>
        <td><%= branch.exit_id %></td>
        <td><%= branch.is_private %></td>
        <td><%= branch.is_active %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

