<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Boating Confirmation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;font-family:calibri;"><br><br>
<div class="container" style="color: black">
  <div> Hi <b><%= @order.first_name %> <%= @order.last_name %></b></div>
  <br>
  <div> Your booking is successful thank You for choosing APTDC. please find Your ticket from below.</div>
</div>
<br><br>
</body>
</html>