<%= form_with(model: ticket_price, local: true) do |form| %>
  <% if ticket_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket_price.errors.count, "error") %> prohibited this ticket_price from being saved:</h2>

      <ul>
        <% ticket_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>

      <div class="field">
        <%= form.label :price , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :price, :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>

      <div class="field">
        <%= form.label :city_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:city_id, options_for_select(City.all.collect {|u| [u.name, u.id]}, @ticket_price.city_id), {:prompt => 'Select City '}, :class => 'form-control') %>
      </div>

      <div class="field">
        <%= form.label :branch_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:branch_id, options_for_select(Branch.all.collect {|u| [u.name, u.id]}, @ticket_price.branch_id), {:prompt => 'Select Branch '}, :class => 'form-control') %>
      </div>

      <div class="field">
        <%= form.label :menu_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:menu_id, options_for_select(MenuItem.all.collect {|u| [u.name, u.id]}, @ticket_price.menu_id), {:prompt => 'Select Menu '}, :class => 'form-control') %>
      </div>

    <!--  <div class="field">
        <%#= form.label :menu_name , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%#= form.text_field :menu_name, :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>-->

      <div class="field">
        <%= form.label :is_active , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_active %>
      </div>

      <div class="field">
        <%= form.label :exit_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.number_field :exit_id , :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>

      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
