
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6"><%= get_index_text('Edit Ticket Price') %></div>
      <div class="col-sm-6 text-right"><%= link_to 'Back', ticket_prices_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
    </div>
    <%= render 'form', ticket_price: @ticket_price %>
  </div>
</div>

