<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Ticket Prices') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Ticket Price', new_ticket_price_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Name</th>
      <th>Price</th>
      <th>City</th>
      <th>Branch</th>
      <th>Menu name</th>
      <th>Is active</th>
      <th>Exit</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @ticket_prices.each do |ticket_price| %>
      <tr>
        <td><%= ticket_price.name %></td>
        <td><%= ticket_price.price %></td>
        <td><%= City.find_by_id(ticket_price.city_id).try(:name) %></td>
        <td><%= Branch.find_by_id(ticket_price.branch_id).try(:name) %></td>
        <td><%= MenuItem.find_by_id(ticket_price.menu_id).try(:name) %></td>
        <td><%= ticket_price.is_active %></td>
        <td><%= ticket_price.exit_id %></td>
        <td><%= link_to 'Edit', edit_ticket_price_path(ticket_price) %></td>
        <td><%= link_to 'Destroy', ticket_price, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

