<%= form_with(model: menu_item, local: true) do |form| %>
  <% if menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
        <% menu_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name, :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :image , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :duration , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :duration, :class => 'form-control', :placeholder => 'Duration', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :availability , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :availability , :class => 'form-control', :placeholder => 'Availability', :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :has_lay_out , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :has_lay_out %>
      </div>

      <div class="form-group">
        <%= form.label :is_active , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :is_active %>
      </div>

<!--      <div class="form-group">-->
<!--        <%#= form.label :is_private , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>-->
        <%#= form.check_box :is_private %>
<!--      </div>-->

      <div class="form-group">
        <%= form.label :total_seats , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.number_field :total_seats , :class => 'form-control', :placeholder => 'Total Seats'%>
      </div>

      <div class="form-group">
        <%= form.label :branch_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:branch_id, options_for_select(Branch.all.collect {|u| [u.name, u.id]}, @menu_item.branch_id), {:prompt => 'Select Branch '}, :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= form.label :city_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.select(:city_id, options_for_select(City.all.collect {|u| [u.name, u.id]}, @menu_item.city_id), {:prompt => 'Select City '}, :class => 'form-control') %>
      </div>

      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
