
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6"><%= get_index_text('Edit Menu Item') %></div>
      <div class="col-sm-6 text-right"><%= link_to 'Back', menu_items_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
    </div>
    <%= render 'form', menu_item: @menu_item %>
  </div>
</div>

