

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Menu Items') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New Menu Item', new_menu_item_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Name</th>
      <th>Image</th>
      <th>Duration</th>
      <th>Availability</th>
      <th>Has lay out</th>
      <th>Is active</th>
      <th>Is private</th>
      <th>Total seats</th>
      <th>Branch</th>
      <th>City</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <%# if @user.avatar.attached? %>
          <%#= image_tag(@user.avatar) %>
        <%# end %>
        <td><%= image_tag(menu_item.image.attached? ? menu_item.image : '', :width => '100px')%></td>
        <td><%= menu_item.duration %></td>
        <td><%= menu_item.availability %></td>
        <td><%= menu_item.has_lay_out %></td>
        <td><%= menu_item.is_active %></td>
        <td><%= menu_item.is_private %></td>
        <td><%= menu_item.total_seats %></td>
        <td><%= Branch.find_by_id(menu_item.branch_id).try(:name) %></td>
        <td><%= City.find_by_id(menu_item.city_id ).try(:name)%></td>
        <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

