<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone no</th>
      <th>Email</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Town</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Merchant transaction</th>
      <th>Status</th>
      <th>Transaction amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.phone_no %></td>
        <td><%= order.email %></td>
        <td><%= order.address1 %></td>
        <td><%= order.address2 %></td>
        <td><%= order.town %></td>
        <td><%= order.state %></td>
        <td><%= order.postal_code %></td>
        <td><%= order.merchant_transaction_id %></td>
        <td><%= order.status %></td>
        <td><%= order.transaction_amount %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
