<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @order.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @order.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @order.address2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @order.town %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @order.postal_code %>
</p>

<p>
  <strong>Merchant transaction:</strong>
  <%= @order.merchant_transaction_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Transaction amount:</strong>
  <%= @order.transaction_amount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
