.background_white{
	background: #fff;
}
.navbar-brand {
    float: left;
    min-height: 50px;
    padding: 5px;
    font-size: 18px;
    /* line-height: 20px; */
}
.dropdown-menu {border-radius:0px !important;}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #0042c5;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: 5px;

}
.left.carousel-control {
  background-image:none !important;
  right: 0px;
  left: -30px !important;
}
.right.carousel-control {
  background-image:none !important;
  right: -30px !important;
  left: 0px
}
#aptdc-package #carousel-control-position a:hover{
	background:#ccc;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right,.carousel-control .icon-chevron-left, 
.carousel-control .icon-chevron-right {
  line-height: 30px;
  text-shadow: none;
  color:#333;
   -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    background: transparent;
    padding: 5px 5px;
    opacity: 1;
}