p.star{
	display:none;
}
.setGrey {
	background: grey !important;
	
}
.setYellow {
	background: yellow !important;
	
}
.setWhite {
	background: white !important;
	
}
.setBlank{
	background: white !important;
	border: 0px solid #000;
}
.boxes-row {
	display: flex;
}

.boxes {
	width: 30px;
	height: 30px;
	float: left;
	margin: 1px;
	border: 1px solid #777;
}

#tableLayout TD:hover {
	background: #2874f0;
	 cursor:pointer;
}

.selectedColor {
	background: green !important;
}

TABLE.border1 {
	border: 1px solid #DADADA;
	background-color: #DFDFDF;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	cell-padding: 2px;
	cell-spacing: 2px;
}

.font1 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}

.font2 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: blue;
}

.heading1 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #2A9F0B;
}

.heading2 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF5900;
}

.heading3 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF5900;
}

TD.menuon {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #FF5900;
	cursor: default;
}

TD.menuoff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}
TD.bgr1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: grey;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FFFF00;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #858585;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #858585;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #3399FF;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FF9900;
	border: 1px solid #000000;
	cursor: default;
}




@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}
ul.liststylenone{
	margin: 0px;
	padding: 0px;
}
.liststylenone li{
	list-style:none;
	padding: 10px 0;
	text-align: justify;
}
.overwrite-a{
	padding: 3px !important;
    clear: inherit !important;
    font-weight: normal !important;
    line-height: 1.42857 !important;
    color: #333333 !important;
    white-space: inherit !important;
    display:flex !important;
}
.disinline{
	display:inline-block !important;
}
.disflex li{
	list-style:none !important;
	padding:5px;
}
/*----buss seat layout---*/
.bgr1{
	background: #5681d8e0;
    color: #fff;
    border: 0px;
    padding: 4px;
    font-size: 11px;
    border-color:#fff;
}
.bgr2{
	background:red;
}
.setBlank{
	border: 0px #fff solid;
}
.selectedColor{
	background:#333;
	color:#f4f4f4;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
.disflex{
	display:flex;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background:#5681d8e0;
	color:#fff;
}
.navbar-fixed-top{
	border-width:0px;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a{
	background:#0042c5/*#5681d8e0*/;
	color:#fff;
}
body {
	/*font-family: "Quicksand", Arial, sans-serif;*/
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	color: #595959;
	background: #fff;
}

body::-webkit-scrollbar {
	width: 8px !important;
	background: none;
}

body::-webkit-scrollbar-thumb {
	background-color: #333 !important;
}

body::-webkit-scrollbar-track {
	background: none;
}
.height150px{
	height:100px;
}
.box_shadow{
	box-shadow: 0 2px 19px 0px rgb(0, 39, 118), 0 0px 0px 0 rgb(0, 39, 118), 0 3px 13px -8px rgb(0, 39, 118);
	-webkit-box-shadow: 0 2px 19px 0px rgb(0, 39, 118), 0 0px 0px 0 rgb(0, 39, 118), 0 3px 13px -8px rgb(0, 39, 118);
	-moz-box-shadow: 0 2px 19px 0px rgb(0, 39, 118), 0 0px 0px 0 rgb(0, 39, 118), 0 3px 13px -8px rgb(0, 39, 118);
	-o-box-shadow: 0 2px 19px 0px rgb(0, 39, 118), 0 0px 0px 0 rgb(0, 39, 118), 0 3px 13px -8px rgb(0, 39, 118);
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.offcanvas #page {
	overflow: hidden;
	position: absolute;
}

.offcanvas #page:after {
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 101;
	background: rgba(0, 0, 0, 0.7);
	content: "";
}

a {
	color: #333;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	color: #333;
	outline: none;
	text-decoration: none;
}

p {
	margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
	color: #000;
	font-family: "Quicksand", Arial, sans-serif;
	font-weight: 400;
	margin: 0 0 0px 0;
}

::-webkit-selection {
	color: #fff;
	background: #FFDD00;
}

::-moz-selection {
	color: #fff;
	background: #FFDD00;
}

::selection {
	color: #fff;
	background: #FFDD00;
}

.aptdc-nav {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.aptdc-nav {
		margin: 0;
	}
}

.aptdc-nav .top-menu {
	padding: 5px 30px;
	background: #fff;
	/*#b3cde8c2*/
}

@media screen and (max-width: 768px) {
	.aptdc-nav .top-menu {
		padding: 28px 1em;
	}
}

.aptdc-nav #aptdc-logo {
	font-size: 24px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 600;
}

.aptdc-nav #aptdc-logo a {
	position: relative;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.aptdc-nav .menu-1 {
		display: none;
	}
}

.aptdc-nav ul {
	padding: 0;
	margin: 8px 0 0 0;
}

.aptdc-nav ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline;
	font-weight: 400;
}

.aptdc-nav ul li a {
	position: relative;
	font-size: 15px;
	padding: 22px 12px;
	color: #333;
	/*rgb(0, 64, 196)*/
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.aptdc-nav ul li a:hover {
	color: #FFDD00;
}

.aptdc-nav ul li.has-dropdown {
	position: relative;
}

.aptdc-nav ul li.has-dropdown .dropdown {
	width: 140px;
	-webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
	z-index: 1002;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 40px;
	left: 0;
	text-align: left;
	background: #0040c4;
	padding: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

.aptdc-nav ul li.has-dropdown .dropdown:before {
	bottom: 100%;
	left: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #0040c4;
	border-width: 8px;
	margin-left: -8px;
}

.aptdc-nav ul li.has-dropdown .dropdown li {
	display: block;
	margin-bottom: 7px;
}

.aptdc-nav ul li.has-dropdown .dropdown li:last-child {
	margin-bottom: 0;
}

.aptdc-nav ul li.has-dropdown .dropdown li a {
	padding: 2px 0;
	display: block;
	color: #ccc;
	line-height: 1.2;
	text-transform: none;
	font-size: 13px;
	letter-spacing: 0;
}

.aptdc-nav ul li.has-dropdown .dropdown li a:hover {
	color: #fff;
}

.aptdc-nav ul li.has-dropdown:hover a,
.aptdc-nav ul li.has-dropdown:focus a {
	color: #FFDD00;
}


/*-------------------*/

.mega-dropdown-menu {
	padding: 20px 0px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}


/*-----------**/

.aptdc-nav ul li.btn-cta a {
	padding: 30px 0px !important;
	color: #fff;
}

.aptdc-nav ul li.btn-cta a span {
	background: #ffdd00;
	padding: 4px 10px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	border-radius: 100px;
}

.aptdc-nav ul li.btn-cta a:hover span {
	-webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.aptdc-nav ul li.active > a {
	background: #0040c4;
	color: #FFF !important;
	position: relative;
}

.aptdc-nav ul li.active > a:after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#aptdc-counter,
.aptdc-bg {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}

.aptdc-video {
	overflow: hidden;
}

@media screen and (max-width: 992px) {
	.aptdc-video {
		height: 450px;
	}
}

.aptdc-video a {
	z-index: 1001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
	width: 90px;
	height: 90px;
	display: table;
	text-align: center;
	background: #fff;
	-webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.aptdc-video a i {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	color: #FFDD00;
}

.aptdc-video .video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.aptdc-video:hover .video-overlay {
	background: rgba(0, 0, 0, 0.5) !important;
}

.aptdc-video:hover a {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

#aptdc-hero {
	/* height: 300px;
	background: #fff url(../images/loader.gif) no-repeat center center;
	width: 100%;
	float: left;
	z-index: 0; */
}

#aptdc-hero .btn {
	font-size: 24px;
}

#aptdc-hero .btn.btn-primary {
	padding: 14px 30px !important;
}

#aptdc-hero .flexslider {
	border: none;
	z-index: 1;
	margin-bottom: 0;
}

#aptdc-hero .flexslider .slides {
	position: relative;
	overflow: hidden;
}

#aptdc-hero .flexslider .slides li {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 300px;
	/*650*/
	position: relative;
}

#aptdc-hero .flexslider .slides li .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
}

#aptdc-hero .flexslider .flex-control-nav {
	bottom: 5em;
	z-index: 1000;
	width: 0 auto;
}

@media screen and (max-width: 768px) {
	#aptdc-hero .flexslider .flex-control-nav {
		bottom: 6em;
	}
}

#aptdc-hero .flexslider .flex-control-nav li a {
	background: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

#aptdc-hero .flexslider .flex-control-nav li a.flex-active {
	cursor: pointer;
	background: transparent;
	background: #FFDD00;
}

#aptdc-hero .flexslider .flex-direction-nav {
	display: none;
}

#aptdc-hero .flexslider .slider-text {
	display: table;
	opacity: 0;
	height: 300px;
	z-index: 9;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner {
	display: table-cell;
	vertical-align: middle;
	height: 350px;
	padding: 2em;
}

@media screen and (max-width: 768px) {
	#aptdc-hero .flexslider .slider-text > .slider-text-inner {
		text-align: center;
	}
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner span i {
	font-size: 24px;
	color: #F7AF1D;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner h1,
#aptdc-hero .flexslider .slider-text > .slider-text-inner h2 {
	margin: 0;
	padding: 0;
	color: white;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner h1 {
	margin-bottom: 50px;
	font-size: 50px;
	line-height: 1.3;
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	#aptdc-hero .flexslider .slider-text > .slider-text-inner h1 {
		font-size: 28px;
	}
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner h2 {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: "Quicksand", Arial, sans-serif;
	letter-spacing: 3px;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner h2 a {
	color: #ffdd00;
	border-bottom: 1px solid rgba(255, 221, 0, 0.7);
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner .heading-section {
	font-size: 50px;
}

@media screen and (max-width: 768px) {
	#aptdc-hero .flexslider .slider-text > .slider-text-inner .heading-section {
		font-size: 30px;
	}
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner s .aptdc-lead {
	font-size: 20px;
	color: #FFDD00;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner s .aptdc-lead .icon-heart {
	color: #d9534f;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner .btn {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	padding: 20px 30px !important;
	border: none;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
	background: #FFDD00;
	color: #fff;
}

#aptdc-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
	background: #000 !important;
}

@media screen and (max-width: 480px) {
	#aptdc-hero .flexslider .slider-text > .slider-text-inner .btn {
		width: 100%;
	}
}

.aptdc-light-grey {
	background: #fafafa;
}

#aptdc-hotel,
#aptdc-package,
.aptdc-tour,
.aptdc-wrap,
#aptdc-contact,
#aptdc-intro,
#aptdc-testimony,
#aptdc-blog,
#aptdc-amenities,
#aptdc-subscribe,
#aptdc-footer {
	width: 100%;
	display: block;
	float: left;
	padding: 1em 0;
	clear: both;
}

@media screen and (max-width: 768px) {
	#aptdc-hotel,
#aptdc-package,
	.aptdc-tour,
	.aptdc-wrap,
	#aptdc-contact,
	#aptdc-intro,
	#aptdc-testimony,
	#aptdc-blog,
	#aptdc-amenities,
	#aptdc-subscribe,
	#aptdc-footer {
		padding: 3em 0;
	}
}

.aptdc-services {
	padding: 3em !important;
}

@media screen and (max-width: 768px) {
	.aptdc-services {
		padding: .5em !important;
	}
}

.bg-primary-color {
	background: #FFDD00;
}

.bg-primary-color p {
	color: #fff !important;
}

#aptdc-reservation {
	clear: both;
	z-index: 1;
	margin-top: 21px;
}

#aptdc-reservation .search-wrap {
	width: 100%;
	float: left;
	display: block;
	position: relative;
	z-index: 9;
	margin-top: 55px !important;
	padding: 0;
}

#aptdc-reservation .booknow {
	margin-top: 5px;
	display: block;
}

#aptdc-reservation .booknow h2,
#aptdc-reservation .booknow span {
	color: #fff;
}

#aptdc-reservation .booknow h2 {
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 20px;
}

#aptdc-reservation .booknow span {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#aptdc-reservation .nav-tabs li {
	padding: 0;
	margin-right: 2px;
	background: #0042c5;
	font-size: 16px !important;
}

#aptdc-reservation .nav-tabs li a {
	padding: 5px !important;
	color: #fff;
	font-size: 11px;
}

#aptdc-reservation .nav-tabs li.active {
	color: #fff !important !important;
	background: #2C2E3E !important;
}

@media screen and (max-width: 768px) {
	#aptdc-reservation .nav-tabs {
		margin-left: 10px;
	}
	#aptdc-reservation .nav-tabs li {
		font-size: 13px !important;
	}
	#aptdc-reservation .nav-tabs li a {
		padding: 10px !important;
	}
}

#aptdc-reservation .tab-pane > .active,#aptdc-reservation .aptdc-form-index {
	background: #557ac6 /*#5681d8e0*/;
	padding: 0px 60px;
}

.aptdc-form label {
	font-weight: normal;
	color: white;
}


/*-------------------*/

.aptdc-form-index label {
	margin-bottom: 20px;
	color: #ffffff;
	font-size:25px;
}

.aptdc-form-index .form-control {
	height: 30px;
	padding: 2px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: rgba(255, 255, 255, 0.03);
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form-index .form-control option {
	background: #2c2e3e;
}

.aptdc-form-index .form-control:active,
.aptdc-form-index .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #FFDD00;
}

.aptdc-form-index .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form-index .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form-index .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form-index .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form-index .form-group {
	margin-bottom: 50px;
	margin-top:35px;
	/* margin-left:50px; */
}

.aptdc-form-index .form-group .form-field {
	position: relative;
	padding: 0;
	margin: 0;
}

.aptdc-form-index .form-group .form-field .icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.aptdc-form-index .form-group .form-field .form-control {
	padding-right: 50px;
}

.aptdc-form-index textarea.form-control {
	height: inherit;
	resize: vertical;
}

.aptdc-form-index .btn-block {
	margin-top: 42px;
	padding: 5px !important;
	font-size: 14px;
	color: #000;
}
.aptdc-form-index input.btn-primary:hover{
	background:#ccc !important;
	color:#0042c5 !important;
}

/*-------------------*/

.aptdc-form .form-control {
	height: 35px;
	padding: 5px 5px 5px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: rgba(255, 255, 255, 0.03);
	border: 2px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form .form-control option {
	background: #2c2e3e;
	min-height: 10px;
}

.aptdc-form .form-control:active,
.aptdc-form .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #FFDD00;
}

.aptdc-form .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.7);
}

.aptdc-form .form-group {
	margin-bottom: 15px;
}

.aptdc-form .form-group .form-field {
	position: relative;
	padding: 0;
	margin: 0;
}

.aptdc-form .form-group .form-field .icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.aptdc-form .form-group .form-field .form-control {
	padding-right: 50px;
}

.aptdc-form textarea.form-control {
	height: inherit;
	resize: vertical;
}

.aptdc-form .btn-block {
	margin-top: 28px;
	padding: 12px !important;
	font-size: 14px;
	color: #000;
}
/*------------------*/
.aptdc-form-lastform .onlyinputinthis .form-control {
	padding:5px !important;
}

/*-------------------*/

.aptdc-form-lastform .form-control {
	height: 35px;
	    padding: 5px 5px 5px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: rgba(0, 0, 0, 0.03);
	border: 2px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.7);
}

.aptdc-form-lastform .form-control option {
	background: #ccc;
}

.aptdc-form-lastform .form-control:active,
.aptdc-form-lastform .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #333;
}

.aptdc-form-lastform .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform .form-group {
	margin-bottom: 15px;
}

.aptdc-form-lastform .form-group .form-field {
	position: relative;
	padding: 0;
	margin: 0;
}

.aptdc-form-lastform .form-group .form-field .icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.aptdc-form-lastform .form-group .form-field .form-control {
	padding-right: 30px;
}
.aptdc-form-lastform .form-group .form-field input.form-control.date{
	padding-right:0px;
}
.aptdc-form-lastform textarea.form-control {
	height: inherit;
	resize: vertical;
}

.aptdc-form-lastform .btn-block {
	margin-top: 28px;
	padding: 12px !important;
	font-size: 14px;
	color: #000;
}


/**----------------------------**/


/*-------------------*/

.aptdc-form-lastform-table .col-md-2,
.aptdc-form-lastform-table .col-md-3,
.aptdc-form-lastform-table .col-md-4 {
	border: 0px solid #ccc;
}

.aptdc-form-lastform-table .form-field {
	margin: 10px 0 !important;
}

.aptdc-form-lastform-table .form-control {
	height: 20px;
	padding: 0px 5px 2px 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: rgba(0, 0, 0, 0.03);
	border: 2px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.7);
}

.aptdc-form-lastform-table .form-control option {
	background: #2c2e3e;
}

.aptdc-form-lastform-table .form-control:active,
.aptdc-form-lastform-table .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #333;
}

.aptdc-form-lastform-table .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform-table .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform-table .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform-table .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, 0.4);
}

.aptdc-form-lastform-table .form-group {
	margin-bottom: 0px;
}

.aptdc-form-lastform-table .form-group .form-field {
	position: relative;
	padding: 0;
	margin: 0;
}

.aptdc-form-lastform-table .form-group .form-field .icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.aptdc-form-lastform-table .form-group .form-field .form-control {
	padding: 0px 5px 2px 5px;
}

.aptdc-form-lastform-table textarea.form-control {
	height: inherit;
	resize: vertical;
}

.aptdc-form-lastform-table .btn-block {
	margin-top: 28px;
	padding: 12px !important;
	font-size: 14px;
	color: #000;
}


/**----------------------------**/

.services {
	padding: 2em;
}

.services .icon {
	margin: 0 auto;
	margin-bottom: 20px;
	background: #f7f7f7;
	width: 120px;
	height: 120px;
	display: table;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.services .icon i {
	display: table-cell;
	vertical-align: middle;
	height: 120px;
	font-size: 60px;
	color: #00BBF0;
}

.aside-stretch {
	background: #00BBF0;
}

.aside-stretch:after {
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	content: '';
	width: 360%;
	background: #00BBF0;
}

@media screen and (max-width: 768px) {
	.aside-stretch {
		background: transparent;
	}
	.aside-stretch:after {
		background: transparent;
		display: none;
	}
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.tour-wrap {
	width: 100%;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
}


.tour-wrap .tour-entry {
	width: 20%;
	float: left;
	position: relative;
	height: 250px;
	z-index: 0;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.tour-wrap .tour-entry {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.tour-wrap .tour-entry {
		width: 100%;
	}
}

.tour-wrap .tour-entry .tour-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 250px;
	display: block;
	z-index: 1;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

@media screen and (max-width: 768px) {
	.tour-wrap .tour-entry .tour-img {
		-webkit-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
		-moz-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
		-ms-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
		-o-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
		box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
	}
}

.tour-wrap .tour-entry .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	padding: 15px;
	display: block !important;
}

.tour-wrap .tour-entry .desc h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.tour-wrap .tour-entry .desc .city {
	display: block;
	color: #b3b3b3;
	margin-bottom: 5px;
}

.tour-wrap .tour-entry .desc .price {
	color: #000;
	font-size: 20px;
}

.tour-wrap .tour-entry .desc .star {
	margin-bottom: 0;
	font-size: 12px;
	color: #b3b3b3;
}

.tour-wrap .tour-entry .desc .star span i {
	color: #FFDD00;
}

@media screen and (max-width: 768px) {
	.tour-wrap .tour-entry .desc {
		z-index: 2;
	}
	.tour-wrap .tour-entry .desc h2 {
		color: #fff;
	}
	.tour-wrap .tour-entry .desc .city,
	.tour-wrap .tour-entry .desc .star {
		color: #e6e6e6;
	}
	.tour-wrap .tour-entry .desc .price {
		color: #fff;
		background: #00BBF0;
		padding: 4px 7px;
	}
}

.tour-wrap .tour-entry:hover .tour-img {
	top: -55%;
}

@media screen and (max-width: 768px) {
	.tour-wrap .tour-entry:hover .tour-img {
		top: 0;
	}
}

.f-tour {
	width: 100%;
	float: left;
}

.f-tour .f-tour-img {
	display: block;
	height: 210px;
	margin-bottom: 30px;
	position: relative;
	-webkit-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
	-ms-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
	-o-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
	box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
}

.f-tour .f-tour-img .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
}

.f-tour .f-tour-img .desc h3 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}

.f-tour .f-tour-img .desc .price small {
	color: #fff;
}

.f-tour .desc h3 {
	text-transform: uppercase;
}

.f-tour .desc h4 {
	text-transform: uppercase;
}

.f-tour .desc ul {
	margin-bottom: 30px;
}

.f-tour .desc ul li {
	list-style: none;
	margin-bottom: 10px;
}

.f-tour .desc ul li a {
	color: #999999;
}

.f-tour .desc ul li a:hover {
	color: #000;
}

.wrap-division {
	/* padding-right: 2em; */
}

@media screen and (max-width: 768px) {
	.wrap-division {
		padding-right: 0;
	}
}

.tour {
	display: block;
	margin-bottom: 4em;
}

.tour .tour-img {
	height: 300px;
	margin-bottom: 20px;
	display: block;
	position: relative;
}

.tour .tour-img .price {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #00BBF0;
	color: #fff;
	padding: 8px 12px;
	margin: 0;
}

.tour .tour-img .price span {
	font-size: 16px;
	font-weight: 500;
}

.tour .tour-img .price span small {
	font-size: 16px;
}

.tour .desc {
	display: block;
}

.tour .desc h2 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.tour .desc h2 a {
	color: #000;
}

.tour .desc .city {
	display: block;
	color: #b3b3b3;
	margin-bottom: 5px;
}

.tour .desc .star {
	margin-bottom: 15px;
	font-size: 12px;
	color: #b3b3b3;
}

.tour .desc .star span i {
	color: #FFDD00;
}

.sidebar-wrap {
	display: block;
}

.sidebar-wrap .sidebar-heading {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.sidebar-wrap .search-wrap {
	background: #0040c4;
	/* #0040c4cf #2C2E3E*/
	border: 1px solid #f0f0f0;
	padding: 1em 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.sidebar-wrap .search-wrap .sidebar-heading {
	color: #fff;
}

.sidebar-wrap .side {
	margin-bottom: 4em;
}

.sidebar-wrap .aptdc-form-2 label {
	font-weight: normal;
	color: black;
}

.sidebar-wrap .aptdc-form-2 .form-control {
	height: 35px;
	padding: 5px 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: #fafafa;
	border: 2px solid rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.7);
}

.sidebar-wrap .aptdc-form-2 .form-control:active,
.sidebar-wrap .aptdc-form-2 .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #FFDD00;
}

.sidebar-wrap .aptdc-form-2 .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(0, 0, 0, 0.4);
}

.sidebar-wrap .aptdc-form-2 .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(0, 0, 0, 0.4);
}

.sidebar-wrap .aptdc-form-2 .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(0, 0, 0, 0.4);
}

.sidebar-wrap .aptdc-form-2 .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(0, 0, 0, 0.4);
}

.sidebar-wrap .aptdc-form-2 .form-group {
	margin-bottom: 15px;
}

.sidebar-wrap .aptdc-form-2 .form-group .form-field {
	position: relative;
	padding: 0;
	margin: 0;
}

.sidebar-wrap .aptdc-form-2 .form-group .form-field .icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	color: rgba(0, 0, 0, 0.5);
}

.sidebar-wrap .aptdc-form-2 .form-group .form-field .form-control {
	padding-right: 50px;
}

.sidebar-wrap .aptdc-form-2 textarea.form-control {
	height: inherit;
	resize: vertical;
}

.sidebar-wrap .aptdc-form-2 .btn-block {
	margin-top: 28px;
	padding: 12px !important;
}

.sidebar-wrap .aptdc-form-2 .rate i {
	color: #FFDD00;
	margin: 0 5px;
}

.sidebar-wrap .aptdc-form-2 .place {
	font-size: 16px;
	margin-left: 10px;
}

.sidebar-wrap .category {
	margin: 0;
}

.sidebar-wrap .category li {
	list-style: none;
	margin-bottom: 10px;
}

.sidebar-wrap .category li a {
	color: #000;
}

.sidebar-wrap .blog-entry-side .blog-post .desc h3 {
	font-size: 18px;
}

#aptdc-intro {
	z-index: 0;
}

#aptdc-intro .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

#aptdc-intro .video-wrap {
	z-index: 2;
}

#aptdc-intro .video-wrap .aptdc-video {
	height: 350px;
	/* margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; */
}

@media screen and (max-width: 768px) {
	#aptdc-intro .video-wrap .aptdc-video {
		position: relative;
	}
}

#aptdc-intro .video {
	display: table;
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
	-ms-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
	-o-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
}

.intro-desc {
	z-index: 2;
}

@media screen and (max-width: 768px) {
	.intro-desc {
		margin-bottom: 4em;
	}
}

.intro-img {
	display: block;
}

.text-salebox {
	display: table;
	width: 100%;
}

.text-salebox .text-lefts {
	text-align: left;
	display: table-cell;
	vertical-align: top;
}

@media screen and (max-width: 768px) {
	.text-salebox .text-lefts {
		display: table;
		margin-bottom: 3em;
	}
}

.text-salebox .text-lefts .sale-box .sale-box-top {
	display: inline-block;
	position: relative;
}

.text-salebox .text-lefts .sale-box .number {
	font-weight: 700;
	font-size: 90px;
	margin: 0;
	line-height: 1;
	display: inline-block;
	color: #FFDD00;
}

.text-salebox .text-lefts .sale-box .sup-1 {
	font-size: 40px;
	position: absolute;
	top: 10px;
	left: 100%;
	display: block;
	line-height: 1;
	color: #FFDD00;
	font-weight: 700;
}

.text-salebox .text-lefts .sale-box .sup-2 {
	font-size: 36px;
	text-transform: uppercase;
	position: absolute;
	bottom: 8px;
	left: 100%;
	display: block;
	line-height: 1;
	font-weight: 700;
	color: #fff;
}

.text-salebox .text-lefts .sale-box .text-sale {
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
	line-height: 55px;
	margin: 0;
	font-weight: 700;
}

.text-salebox .text-rights {
	padding: 0 30px;
}

@media screen and (max-width: 768px) {
	.text-salebox .text-rights {
		padding: 0;
	}
}

.text-salebox .text-rights .title {
	color: #fff;
	font-weight: 400;
}

.text-salebox .text-rights p {
	color: #fff;
}

.text-salebox .text-rights .btn-primary {
	color: #000;
}

.text-salebox .text-rights .btn-outline {
	border: 1px solid #fff !important;
	color: #fff;
}
/*------------*/
#aptdc-hotel .owl-carousel {
	z-index: 0;
}

#aptdc-hotel .owl-carousel .owl-stage-outer {
	z-index: -1;
}

#aptdc-hotel .owl-theme .owl-controls {
	margin-top: -10px;
	z-index: 1;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	margin-top: -30px;
}

#aptdc-hotel .owl-theme .owl-controls .owl-nav [class*=owl-] {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	border-radius: 1px;
	background: transparent;
	background: #f2f2f2;
	padding: 5px 5px;
	opacity: 1;
}

#aptdc-hotel .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
	background: transparent;
	color: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

#aptdc-hotel .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background: #0042c5;
	color:#fff;
}
/*------------------*/
#aptdc-package .owl-carouseltool {
	z-index: 0;
}

#aptdc-package .owl-carouseltool .owl-stage-outer {
	z-index: -1;
}

#aptdc-package .owl-theme .owl-controls {
	margin-top: -10px;
	z-index: 1;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	margin-top: -40px;
}

#aptdc-package .owl-theme .owl-controls .owl-nav [class*=owl-] {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	border-radius: 1px;
	background: transparent;
	background: #f2f2f2;
	padding: 5px 5px;
	opacity: 1;
}

#aptdc-package .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
	background: transparent;
	color: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

#aptdc-package .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background: #0042c5;
	color:#fff;
}

/*-----------------*/
.hotel-entry {
	margin-bottom: 3em;
}

.hotel-entry .hotel-img {
	height: 280px;
	display: block;
	margin-bottom: 20px;
	position: relative;
}

.hotel-entry .hotel-img .price {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #00BBF0;
	color: #fff;
	padding: 8px 12px;
	margin: 0;
}

.hotel-entry .hotel-img .ameneties {
	position: absolute;
	top: 0;
	right: 0;
	/*background: rgba(0,0,0,0.6);*/
	color: #fff;
	padding: 4px 6px;
	margin: 0;
}

.hotel-entry .hotel-img .ameneties span {
	text-shadow: 0pc 2px 6px rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 0pc 2px 6px rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 0pc 2px 6px rgba(0, 0, 0, 0.4);
}

.hotel-entry .hotel-img .price span {
	font-size: 18px;
	font-weight: 700;
}

.hotel-entry .hotel-img .price span small {
	font-size: 16px;
}

.hotel-entry .desc h3 {
	margin-bottom: 10px;
}

.hotel-entry .desc h3 a {
	color: #000;
}

.hotel-entry .desc .place {
	color: #b3b3b3;
	font-size: 12px;
	display: block;
	margin-bottom: 15px;
}

.hotel-entry .desc .star {
	margin-bottom: 10px;
	font-size: 12px;
	color: #b3b3b3;
}

.hotel-entry .desc .star span i {
	color: #FFDD00;
}
/*-----------------*/
.hotel-entry-tool {
	margin-bottom: 3em;
}

.hotel-entry-tool .hotel-img {
	height: 280px;
	display: block;
	margin-bottom: 20px;
	position: relative;
}

.hotel-entry-tool .hotel-img .price {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #00BBF0;
	color: #fff;
	padding: 8px 12px;
	margin: 0;
}

.hotel-entry-tool .hotel-img .ameneties {
	position: absolute;
	top: 0;
	right: 0;
	/*background: rgba(0,0,0,0.6);*/
	color: #fff;
	padding: 4px 6px;
	margin: 0;
}

.hotel-entry-tool .hotel-img .ameneties span {
	text-shadow: 0pc 2px 6px rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 0pc 2px 6px rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 0pc 2px 6px rgba(0, 0, 0, 0.4);
}

.hotel-entry-tool .hotel-img .price span {
	font-size: 18px;
	font-weight: 700;
}

.hotel-entry-tool .hotel-img .price span small {
	font-size: 16px;
}

.hotel-entry-tool .desc h3 {
	margin-bottom: 10px;
}

.hotel-entry-tool .desc h3 a {
	color: #000;
}

.hotel-entry-tool .desc .place {
	color: #b3b3b3;
	font-size: 12px;
	display: block;
	margin-bottom: 15px;
}

.hotel-entry-tool .desc .star {
	margin-bottom: 10px;
	font-size: 12px;
	color: #b3b3b3;
}

.hotel-entry-tool .desc .star span i {
	color: #FFDD00;
}
/*-----------------------*/
.heading2 {
	margin-bottom: 1em;
	padding: 5px 10px;
	background: #f5f5f5;
	border: 1px solid #f0f0f0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.heading2 h2 {
	font-size: 34px;
	margin-bottom: 20px;
	line-height: 1.5;
	color: #000;
	position: relative;
	margin: 0;
	text-transform: uppercase;
}

.room-wrap {
	display: block;
	margin-bottom: 1em;
}

.room-wrap h2 {
	font-size: 20px;
	text-transform: uppercase;
}

.room-wrap .price span {
	font-size: 20px;
	color: #00BBF0;
}

.room-wrap .price small {
	font-size: 14px;
}

.room-wrap .desc {
	padding: 20px;
}

.room-wrap .day-tour {
	display: block;
	margin-bottom: 20px;
	color: #b3b3b3;
}

.room-img {
	display: block;
	height: 300px;
}

#aptdc-testimony .owl-carouseltool {
	z-index: 0;
}

#aptdc-testimony .owl-carouseltool .owl-stage-outer {
	z-index: -1;
}

#aptdc-testimony .owl-theme .owl-controls {
	margin-top: -10px;
	z-index: 1;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin-top: -30px;
}

#aptdc-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	border-radius: 1px;
	background: transparent;
	opacity: 1;
}

#aptdc-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
	background: transparent;
	color: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	font-size: 20px;
}

#aptdc-testimony .owl-theme .owl-controls .owl-nav .owl-prev {
	float: left;
	margin-left: -60px;
}

@media screen and (max-width: 768px) {
	#aptdc-testimony .owl-theme .owl-controls .owl-nav .owl-prev {
		margin-left: 0;
	}
}

#aptdc-testimony .owl-theme .owl-controls .owl-nav .owl-next {
	float: right;
	margin-right: -60px;
}

@media screen and (max-width: 768px) {
	#aptdc-testimony .owl-theme .owl-controls .owl-nav .owl-next {
		margin-right: 0;
	}
}

.testimony {
	position: relative;
	width: 100%;
}

.testimony .img-user {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.testimony .user {
	display: block;
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 10px;
}

.testimony small {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	color: #999999;
}

.testimony blockquote {
	padding: 0;
	margin: 0 0 20px 0;
	border: none;
}

.testimony blockquote p {
	color: #000;
	font-size: 16px;
}

article {
	width: 100%;
	float: left;
	margin-bottom: 2em;
}

article .blog-img {
	height: 400px;
	z-index: -1;
	width: 100%;
	float: left;
}

article .desc {
	padding: 3em;
	width: 95%;
	float: left;
	margin-top: -7em;
	z-index: 1;
	background: #fff;
}

article .desc h2 a {
	color: #000;
}

article .desc .meta span {
	margin-right: 10px;
}

article .desc .meta span a {
	color: #cccccc;
}

.blog-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	width: 100%;
	padding: 0 !important;
}

.blog-flex .f-entry-img,
.blog-flex .blog-entry {
	width: 50%;
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.blog-flex .f-entry-img,
	.blog-flex .blog-entry {
		width: 100%;
	}
}

.blog-flex .f-entry-img {
	display: table;
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
}

.blog-entry {
	padding: 3em 4em;
}

@media screen and (max-width: 768px) {
	.blog-entry {
		padding: 4em 1em;
	}
}

.blog-post {
	margin-bottom: 2.5em;
	display: block;
	position: relative;
}

.blog-post .desc {
	padding-left: 110px;
}

.blog-post .desc h3 {
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 10px;
}

.blog-post .desc span {
	font-size: 13px;
	color: #333333;
}

.blog-post .img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 90px;
	height: 90px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border: 4px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.f-tour-img,
.room-img,
.tour-img,
.intro-img,
.amenities-img,
.blog-img,
.hotel-img {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.tab-pane {
	padding: 0px 0 10px 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.nav-tabs {
	border: none;
	border-bottom: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.nav-tabs li {
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	.nav-tabs li {
		font-size: 12px;
	}
}

.nav-tabs li a {
	border: none !important;
	border-bottom: none !important;
	background: transparent;
}

.nav-tabs li a:first-child {
	padding-left: 0;
}

.nav-tabs li a:hover,
.nav-tabs li a:focus {
	background: transparent;
}

.nav-tabs li.active a {
	border: none !important;
	border-bottom: none !important;
	color: #fff !important;
	background: transparent !important;
	border: 1px solid red;
}

.about-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	width: 100%;
}

.about-flex .col-one-forth {
	width: 25%;
	padding: 7em 4em 7em 0;
}

.about-flex .col-three-forth {
	width: 75%;
	padding: 7em 4em;
}

.about-flex .col-one-forth,
.about-flex .col-three-forth {
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.about-flex .col-one-forth,
	.about-flex .col-three-forth {
		width: 100%;
		padding: 4em 1em;
	}
}

.about-flex .aside-stretch {
	position: relative;
}

.about-flex .aside-stretch:after {
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	content: '';
	width: 360%;
	background: #00BBF0;
}

.about-flex .about {
	text-align: right;
}

@media screen and (max-width: 768px) {
	.about-flex .about {
		text-align: left;
	}
}

.about-flex .about h2 {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
	.about-flex .about h2 {
		color: #000;
	}
}

.about-flex .about ul {
	list-style: none;
}

.about-flex .about ul li {
	margin-bottom: 8px;
}

.about-flex .about ul li a {
	color: #fff;
}

@media screen and (max-width: 768px) {
	.about-flex .about ul li a {
		color: #000;
	}
}

.contact-info-wrap {
	margin-bottom: 3em;
}

.contact-info-wrap p a {
	color: #000;
}

.contact-info-wrap p span {
	padding-right: 10px;
}

.contact-info-wrap p span i {
	font-size: 20px;
	color: #000;
}

@media screen and (max-width: 768px) {
	.padding-bottom {
		margin-bottom: 30px;
	}
}

.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;
	font-size: 13px !important;
	font-weight: 300;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}

.form-control:focus,
.form-control:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
	height: 50px;
}

.form-group {
	margin-bottom: 30px;
}

.form-group .btn-modify {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 13px;
	padding: 10px 15px;
}

.aptdc-social-icons {
	margin: 0;
	padding: 0;
}

.aptdc-social-icons li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.aptdc-social-icons li a {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #FFDD00;
	padding-left: 10px;
	padding-right: 10px;
}

.aptdc-social-icons li a i {
	font-size: 20px;
}

.aptdc-heading {
	margin-bottom: 5em;
}

.aptdc-heading h2 {
	font-size: 34px;
	margin-bottom: 0px;
	line-height: 1.5;
	color: #000;
	position: relative;
}

#aptdc-subscribe {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	color: #fff;
}

#aptdc-subscribe .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	font-weight: 700;
}

#aptdc-subscribe .aptdc-heading {
	margin-bottom: 0;
}

#aptdc-subscribe .aptdc-heading h2 {
	color: #fff !important;
	font-size: 34px;
}

#aptdc-subscribe .aptdc-heading p {
	font-size: 18px;
}

.qbstp-header-subscribe .form-group {
	position: relative;
	width: 60%;
}

@media screen and (max-width: 480px) {
	.qbstp-header-subscribe .form-group {
		width: 100%;
	}
}

.qbstp-header-subscribe .form-group input::-webkit-input-placeholder {
	color: #333333;
}

.qbstp-header-subscribe .form-group input::-moz-input-placeholder {
	color: #333333;
}

.qbstp-header-subscribe .form-group input::-ms-input-placeholder {
	color: #333333;
}

.qbstp-header-subscribe .form-group input::-o-input-placeholder {
	color: #333333;
}

.qbstp-header-subscribe .form-group input::input-placeholder {
	color: #333333;
}

.qbstp-header-subscribe #email {
	font-size: 18px;
	width: 100%;
	padding-right: 3em;
	border: none;
	border: 2px solid #fff;
	background: #fff;
	color: #333333 !important;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
}

.qbstp-header-subscribe button {
	position: absolute;
	top: 0;
	right: -4px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	background: #FFDD00;
	color: #fff;
	border: none;
	padding: 14px;
}

#aptdc-footer {
	background: #2C2E3E;
	color: rgba(255, 255, 255, 0.5) !important;
}

#aptdc-footer .aptdc-footer-links {
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	#aptdc-footer .aptdc-footer-links {
		margin-bottom: 30px;
	}
}

#aptdc-footer .aptdc-footer-links li {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
	display: block;
}

#aptdc-footer .aptdc-footer-links li a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

#aptdc-footer .aptdc-footer-links li a:hover {
	text-decoration: underline;
}

#aptdc-footer .aptdc-social-icons li a {
	padding-left: 10px;
	padding-right: 10px;
}

#aptdc-footer .aptdc-social-icons li a:first-child {
	padding-left: 0;
}

#aptdc-footer h4 {
	margin-bottom: 30px;
	font-size: 20px;
	color: #fff;
}

#map {
	width: 100%;
	height: 500px;
	position: relative;
}

@media screen and (max-width: 768px) {
	#map {
		height: 200px;
	}
}

#aptdc-offcanvas {
	position: absolute;
	z-index: 1901;
	width: 100%;
	background: black;
	color: #fff;
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 75px 40px 40px 40px;
	overflow-y: auto;
	display: none;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

@media screen and (max-width: 768px) {
	#aptdc-offcanvas {
		display: block;
	}
}

.offcanvas #aptdc-offcanvas {
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

#aptdc-offcanvas a {
	color: rgba(255, 255, 255, 0.5);
}

#aptdc-offcanvas a:hover {
	color: rgba(255, 255, 255, 0.8);
}

#aptdc-offcanvas ul {
	padding: 0;
	margin: 0;
}

#aptdc-offcanvas ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#aptdc-offcanvas ul li > ul {
	padding-left: 20px;
	display: none;
}

#aptdc-offcanvas ul li.offcanvas-has-dropdown > a {
	display: block;
	position: relative;
}

#aptdc-offcanvas ul li.offcanvas-has-dropdown > a:after {
	position: absolute;
	right: 0px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e92d";
	font-size: 20px;
	color: rgba(255, 255, 255, 0.2);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#aptdc-offcanvas ul li.offcanvas-has-dropdown.active a:after {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.gototop.active {
	opacity: 1;
	visibility: visible;
}

.gototop a {
	/* width: 50px;
	height: 50px; */
	 width: 35px;
	height: 35px;
	display: table;
	/* background: #ecff00; */
	 background: #0042c5;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.gototop a i {
	/* height: 50px; */
	height: 35px;
	display: table-cell;
	vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
	text-decoration: none;
	outline: none;
}

.aptdc-nav-toggle {
	width: 25px;
	height: 25px;
	cursor: pointer;
	text-decoration: none;
	top: 10px !important;
}

.aptdc-nav-toggle.active i::before,
.aptdc-nav-toggle.active i::after {
	background: #fff;
}

.aptdc-nav-toggle:hover,
.aptdc-nav-toggle:focus,
.aptdc-nav-toggle:active {
	outline: none;
	border-bottom: none !important;
}

.aptdc-nav-toggle i {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 2px;
	color: #252525;
	font: bold 14px/.4 Helvetica;
	text-transform: uppercase;
	text-indent: -55px;
	background: #fff;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.aptdc-nav-toggle i::before,
.aptdc-nav-toggle i::after {
	content: '';
	width: 25px;
	height: 2px;
	background: #333;
	position: absolute;
	left: 0;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.aptdc-nav-toggle.aptdc-nav-white > i {
	color: #fff;
	background: #333;
}

.aptdc-nav-toggle.aptdc-nav-white > i::before,
.aptdc-nav-toggle.aptdc-nav-white > i::after {
	background: #333;
}

.aptdc-nav-toggle i::before {
	top: -7px;
}

.aptdc-nav-toggle i::after {
	bottom: -7px;
}

.aptdc-nav-toggle:hover i::before {
	top: -8px;
}

.aptdc-nav-toggle:hover i::after {
	bottom: -8px;
}

.aptdc-nav-toggle.active i {
	background: transparent;
}

.aptdc-nav-toggle.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	background: #fff;
}

.aptdc-nav-toggle.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	background: #fff;
}

.aptdc-nav-toggle {
	position: fixed;
	right: 0px;
	top: 65px;
	z-index: 21;
	padding: 6px 0 0 0;
	display: block;
	margin: 0 auto;
	display: none;
	height: 44px;
	width: 44px;
	z-index: 2001;
	border-bottom: none !important;
}

@media screen and (max-width: 768px) {
	.aptdc-nav-toggle {
		display: none;
	}
	.navbar-toggle .icon-bar{
		background:#0042c5 !important;
	}
}

.pagination li {
	margin: 2px;
}

.pagination li a {
	color: #000;
	background: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	margin: 2px;
}

.pagination li a:first-child {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.pagination li a:hover,
.pagination li a:focus {
	background: #FFDD00;
	color: #fff;
	border: 1px solid #FFDD00;
}

@media screen and (max-width: 768px) {
	.pagination li a {
		padding: 7px 15px;
	}
}

.pagination li.active a {
	border: 1px solid #FFDD00;
	background: #FFDD00;
	color: #000;
}

.pagination li.active a:hover,
.pagination li.active a:focus {
	background: #FFDD00;
	color: #000;
	border: 1px solid #FFDD00;
}

.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: 400;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 8px 20px;
}

.btn.btn-md {
	padding: 8px 20px !important;
}

.btn.btn-lg {
	padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.btn-primary {
	background: #FFF;
	color: #0040c4cf;
	border: 1px solid #FFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: transparent !important;
	border-color: blue !important;
	color: #0040c4cf;
}

.btn-primary.btn-outline {
	background: transparent;
	color: #FFDD00;
	border: 1px solid #FFDD00;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
	background: #FFDD00;
	color: #fff;
}

.btn-success {
	background: #5cb85c;
	color: #fff;
	border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background: #4cae4c !important;
	border-color: #4cae4c !important;
}

.btn-success.btn-outline {
	background: transparent;
	color: #5cb85c;
	border: 1px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
	background: #5cb85c;
	color: #fff;
}

.btn-info {
	background: #5bc0de;
	color: #fff;
	border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	background: #46b8da !important;
	border-color: #46b8da !important;
}

.btn-info.btn-outline {
	background: transparent;
	color: #5bc0de;
	border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
	background: #5bc0de;
	color: #fff;
}

.btn-warning {
	background: #f0ad4e;
	color: #fff;
	border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
	background: #eea236 !important;
	border-color: #eea236 !important;
}

.btn-warning.btn-outline {
	background: transparent;
	color: #f0ad4e;
	border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
	background: #f0ad4e;
	color: #fff;
}

.btn-danger {
	background: #d9534f;
	color: #fff;
	border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
	background: #d43f3a !important;
	border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
	background: transparent;
	color: #d9534f;
	border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
	background: #d9534f;
	color: #fff;
}

.btn-outline {
	background: none;
	border: 2px solid gray;
	font-size: 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.with-arrow {
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn.with-arrow i {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -8px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.btn.with-arrow:hover {
	padding-right: 50px;
}

.btn.with-arrow:hover i {
	color: #fff;
	right: 18px;
	visibility: visible;
	opacity: 1;
}

.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	height: 54px;
	font-size: 18px;
	font-weight: 300;
}

.form-control:active,
.form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #FFDD00;
}

.row-pb-lg {
	padding-bottom: 6em !important;
}

.row-pb-md {
	padding-bottom: 4em !important;
}

.row-pb-sm {
	padding-bottom: 2em !important;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.aptdc-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
	opacity: 0;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mr-20 {
	margin-right: 20px !important;
}
.mt-40 {
	margin-top: 40px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}
.mt-50 {
	margin-top: 50px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}
.mt-85 {
	margin-top: 85px !important;
}

.mb-85 {
	margin-bottom: 85px !important;
}
.mt-100 {
	margin-top: 100px !important;
}

.mb-100 {
	margin-bottom: 100px !important;
}
.pt-10 {
	padding-top: 10px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pl-10 {
	padding-left: 10px !important;
}

.pl-20 {
	padding-left: 20px !important;
}

.pr-10 {
	padding-right: 10px !important;
}

.pr-20 {
	padding-right: 20px !important;
}

.font10p {
	font-size: 10px;
}

.font11p {
	font-size: 11px;
}

.font16p {
	font-size: 16px;
}

.font20p {
	font-size: 20px;
}

.font30p {
	font-size: 30px;
}

.font40p {
	font-size: 40px;
}
.font50p {
	font-size: 50px;
}
.font100p {
	font-size: 100px;
}
.color_white {
	color: white;
}


/*---------------------*/

.lastsession1 {
	border-right: 1px solid #ccc;
}

.lastsession1 .form-group {
	margin-bottom: 15px !important;
}

ul.amenetieslist {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin-top: 10px;
}

.amenetieslist li {
	list-style: none;
	padding: 5px 0;
}

.amenetieslist li i {
	margin-right: 15px;
}


/*------------------------*/


/*****************globals*************/

.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px;
	}
}

.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block;
}

.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}

.tab-content {
	overflow: hidden;
}

.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

.card {
	margin-top: 50px;
	background: #eee;
	padding: 3em;
	line-height: 1.5em;
}

@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
	text-transform: UPPERCASE;
	font-weight: bold;
}

.checked,
.price span {
	color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
	margin-bottom: 15px;
}

.product-title {
	margin-top: 0;
}

.size {
	margin-right: 10px;
}

.size:first-of-type {
	margin-left: 40px;
}

.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px;
}

.color:first-of-type {
	margin-left: 20px;
}

.add-to-cart,
.like {
	background: #ff9f1a;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
	background: #b36800;
	color: #fff;
}

.not-available {
	text-align: center;
	line-height: 2em;
}

.not-available:before {
	font-family: fontawesome;
	content: "\f00d";
	color: #fff;
}

.orange {
	background: #ff9f1a;
}

.green {
	background: #85ad00;
}

.blue {
	background: #0076ad;
}

.tooltip-inner {
	padding: 1.3em;
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


/*# sourceMappingURL=style.css.map */

.tab-pane-img {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 15% !important;
	left: auto;
	bottom: auto;
}

.ticketmembersautoflow {
	max-height: 120px;
	padding-right: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ticketmembersautoflow::-webkit-scrollbar {
	width: 5px !important;
	background: none;
}

.ticketmembersautoflow::-webkit-scrollbar-thumb {
	background-color: #ccc !important;
}

.ticketmembersautoflow::-webkit-scrollbar-track {
	background: none;
}




/*--------------------*/


.setGrey {
	background: grey !important;
	
}
.setYellow {
	background: yellow !important;
	
}
.setWhite {
	background: white !important;
	
}
.setBlank{
	background: white !important;
	border: 0px solid #000;
}
.boxes-row {
	display: flex;
}
.avail_boxes{
	margin-right:10px !important;
}
.boxes {
	width: 30px;
	height: 30px;
	float: left;
	margin: 1px;
	border: 1px solid #777;
}

#tableLayout TD:hover {
	background: #2874f0;
	 cursor:pointer;
}

.selectedColor {
	background: green !important;
}

TABLE.border1 {
	border: 1px solid #DADADA;
	background-color: #DFDFDF;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	cell-padding: 2px;
	cell-spacing: 2px;
}
.fontweightbold{
	font-weight:bold !important;
}
.fontweight100{
	font-weight:100 !important;
}
.font1 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}

.font2 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: blue;
}

.heading1 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #2A9F0B;
}

.heading2 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF5900;
}

.heading3 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FF5900;
}

TD.menuon {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #FF5900;
	cursor: default;
}

TD.menuoff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}
TD.bgr1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: grey;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FFFF00;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #858585;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #858585;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #3399FF;
	border: 1px solid #000000;
	cursor: default;
}

TD.bgr10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	FONT-WEIGHT: none;
	background-color: #FF9900;
	border: 1px solid #000000;
	cursor: default;
}
.overflowauto{
	max-height:250px; 
	overflow-y:auto;
	overflow-x:hidden;
}
.bookingdetailsinputgen input{
	padding:5px !important
}
.item .adjust1 img{
	height:150px;
	width:100%;
}

.devinedestinations li{
	display:inline-block;
	background:#ccc;
	color:#333;
	padding:10px;
	margin:10px;
}


/*----------------------------------*/

#ravicarousel .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
#ravicarousel .carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
#ravicarousel .carousel-control.right {
	right: 0px;
	left:auto;
}
/* The indicators */
#ravicarousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
#ravicarousel .carousel-indicators li {
	background: #cecece;
}
#ravicarousel .carousel-indicators .active {
background: #428bca;
}


#carousel-control-position{
    top: -60px;
    position: absolute;
    left: 50%;
}
.font-12{font-size:12px !important;}

#aptdc-package .carousel .item img{
	min-height:300px;
}

 
 

 
 


.aptdc-form-lastform .form-group .form-field .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    top: 19px;
    color: rgba(0, 0, 0, 0.5);
}





.btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74;
}