<div style="background-image: url(/public2/images/smoothscroll/demo/top-bg.jpg);background-position:center top; background-size:100%;padding: 40px 10px;color:white;min-height: 180px">
  <div class="row" style="margin: 0px">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <div><label class="lable_tag">City</label></div>
      <div>
        <%= select_tag :Division, options_for_select(City.where("active=?",true).collect {|u| [u.name, u.id]}, $selectedCity), :prompt => 'Select Branch',  :onchange => "select_division(this.value)", :class => "form-control slected_tag" %>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div><label class="lable_tag">Location</label></div>
      <div> <%= select_tag :branch, options_for_select(Branch.where("city_id=? and is_active=?",$selectedCity,true).collect {|u| [u.name, u.id]}, $slectedCity_branch), :prompt => 'Select Branch',  :onchange => "select_location(this.value)", :class => "form-control slected_tag" %></div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>