<%= form_with(model: cart_item, local: true) do |form| %>
  <% if cart_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart_item.errors.count, "error") %> prohibited this cart_item from being saved:</h2>

      <ul>
      <% cart_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ticket_id %>
    <%= form.number_field :ticket_id %>
  </div>

  <div class="field">
    <%= form.label :no_of_items %>
    <%= form.number_field :no_of_items %>
  </div>

  <div class="field">
    <%= form.label :is_updated %>
    <%= form.check_box :is_updated %>
  </div>

  <div class="field">
    <%= form.label :session_id %>
    <%= form.text_field :session_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
