<style>
  .city_but {
    display: inline-block;
    float: right;
    vertical-align: top;
  }

  .city_but a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    background-color: #00a680;
    color: #fff !important;
  }
  .city_but a:hover {
    background-color: #125687;
    color: #fff;
  }
  .city_but a.active {
    background-color: #125687;
    color: #fff;
  }



  .cart_but {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 5px 25px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    background-color: #00a680;
    color: #fff !important;
  }

  .cart_but:hover {
    background-color: #125687;
    color: #fff;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .selectCityHead {
    background-color: floralwhite;
    color: black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
   border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: uppercase;
  }
</style>

<div class="container">
  <div class="col-sm-12" style="margin: 0px;padding: 14px 0px 0px 0px ">
    <div class="selectCityHead"> <%= Branch.find_by_id($slectedCity_branch).try(:name) %> Boating Activities</div>
  </div>
</div>
<div class="container">
  <div class="row" style="background-color: white;border: 2px solid floralwhite;margin: 0px;background-color: white">
    <div class="col-md-12" style="background-color: white;">
      <div class="row" style="margin: 0px">

        <% $menuItems.each_with_index do |response, index| %>
          <%@ticket_prices = TicketPrice.where("menu_id=?",response.id) %>
          <%if @ticket_prices.present? %>
          <div class="col-sm-6" style="padding: 10px">
            <div style="border: 1px solid #ccc;padding: 5px;min-height: 180px;border-radius:5px; background-image:linear-gradient(#ffffff, #f8f8f8);">
              <div class="row">
                <div class="col-sm-5" style="padding-right:0px;">
                  <div style="padding: 0px">
                    <%= image_tag(response.image.attached? ? response.image : '/public2/images/smoothscroll/demo/pic5.png' ,:style=>"height:170px")%>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div style="font-size: 16px;color: #125687;font-family: Roboto;text-transform: capitalize;font-weight: bold;padding-bottom: 4px"><%= response.name %></div>
                  <div style="font-size: 12px;color: black;padding-bottom: 3px"><span>Avilability : </span> &nbsp;&nbsp; <span style="font-weight: bold"><%= response.availability.present? ? response.availability : "10 Am To 5Pm" %></span></div>
                  <%@ticket_prices = TicketPrice.where("menu_id=?",response.id) %>
                  <div style="max-height:90px;overflow-y: scroll;">
                    <% @ticket_prices.each do |res| %>
                      <div style="font-weight: bold;font-size: 11px;padding: 2px  0px;color: #4a4a4a;text-transform: capitalize !important;">
                        <span style="color: #4a4a4a;"><%= res.name %> </span>
                        <span>&nbsp; - &nbsp;</span>
                        <span style="color: #ff7550;font-weight: bold">Rs. <%= res.price %></span>
                      </div>
                    <% end %>
                  </div>
                  <a href="/cart_items/display_cart?menuId=<%= response.id %>" class="cart_but">BOOK NOW</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

