<style>

  #mytable1 td {
    border: none !important;
    background-color: white;
    text-align: left;
    color: black;
    padding: 10px;
    font-weight: 600;
    font-family: Roboto;
  }

  #mytable1 th {
    border: none !important;
    text-align: left;
    color: black;
    padding: 10px;
    font-family: "Arial Black";
  }

  #mytable td {
    border: none !important;
    text-align: left;
    background-color: white;
    padding: 15px 5px;
    color: black;
    text-transform: capitalize;
    font-family: Roboto;
  }

  #mytable th {
    border: none !important;
    text-align: left;
    padding: 15px 5px;
    text-transform: capitalize;
    font-family: Roboto;

  }
</style>

<div class="page_content"> Your Order</div>
<div style="padding: 5px;border-bottom: 1px solid #e6e6e6"></div>
<br/>
<div>
  <% @cartItems = BookedCartItem.where('session_id = ?', session[ApplicationHelper::SessionConstants::SESSION_ID]) %>
  <% if @cartItems.present? %>

    <table class="table table-hover" id="mytable" style=" background-color: ghostwhite;padding: 5px">

      <tr>
        <th style="border: none !important;"></th>
        <th>Package Details</th>
        <th> Qty.</th>
        <th> price</th>
      </tr>
      <% @subTotal = 0 %>
      <% @cartItems.each do |item| %>
        <tr style="border-bottom: 1px solid #e6e6e6">
          <td><img src="/public2/images/smoothscroll/demo/pic5.png" height="80px" width="80px"></td>
          <td>
            <div style="font-family: 'Arial Black' !important;padding: 5px 0px;color: #06699B"><%= item.city %></div>
            <div style="font-family: 'Arial Black' !important;padding-bottom: 5px "><%= item.item %></div>
            <div style="color: #0c0c0c;font-weight: 600;"><%= item.ticket_name %>
              - Rs <%= item.amount %> <sub>/ per person</sub></div>
            <div>
              <a onclick="myFunction1(0,'<%= item.id %>')" class="btn-xs btn-danger" style="color: white;background-color: red !important;cursor: pointer">Remove</a>
            </div>
          </td>
          <td style="font-weight: 600"><%= item.quandity %></td>
          <td style="font-weight: 600"> Rs. <%= item.amount * item.quandity %></td>
          <% @subTotal = @subTotal += item.amount * item.quandity %>
        </tr>
      <% end %>
    </table>

    <div class="row" style="margin: 0px">
      <div class="col-sm-6"></div>
      <div class="col-sm-6" style="border: 1px solid black;border-radius: 5px !important;">
        <table class="table table-hover" id="mytable1" style=" background-color: ghostwhite;padding: 10px;">
          <tr>
            <td>Sub Total</td>
            <td> Rs. <%= @subTotal %></td>
          </tr>
          <tr>
            <th>Total Price</th>
            <th style="color: #ff7550"> Rs. <%= (@subTotal).round(2) %></th>
          </tr>
        </table>
      </div>
    </div>

  <% end %>
</div>