<style>
  .page_content {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    color: black;
    padding: 5px;
  }

  .package_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 5px !important;
  }
</style>

<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/images/about_banner.jpg">
  <div class="tg-sectionspace tg-haslayout" style="background-color: #4CAF50;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>About us</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <br/><br/>
    <div style="padding: 20px;border: 1px solid darkgrey;border-radius: 7px">
      <div style="font-size: 18px;font-weight: bold;color: black" class="text-center">About Aptdc</div>
      <br/>
      <p style="    font-size: 14px;
          color: #131D21;
          line-height: 24px;
          padding: 6px;
          text-align: justify;"><b>Andhra Pradesh Tourism Development Corporation (APTDC)</b> is a state government
        agency which promotes
        tourism in
        Andhra Pradesh, India. APTDC offers <b>tour packages of Heritage, Nature, Adventure, Health and Rural tourism
        representing rich historical and natural background of Andhra Pradesh state.</b> APTDC maintains resorts at
        popular
        tourism destinations such as Tirupatti, Horseley hills, Araku valley, Vizag and Srisailam.</p>
    </div>
  </div>
  <br/>
  <br/>
</main>



