<style>
  .cart_but {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    background-color: #00a680;
    color: #fff !important;
  }

  .cart_but:hover {
    background-color: #00a680;
    color: #fff;
  }

</style>
<br/><br/><br/><br/><br/><br/><br/>
<main id="tg-main" class="tg-main tg-haslayout">
  <div class="text-center" style="background-color: #06375b;padding: 10px;color: white;font-weight: bold;font-size: 16px">
    Andhra Pradesh Tourism Development Corporation - <%= @branchServiceType %> In <%= @branch %></div>
  <div class="container">
    <br/>
    <% $menuItems.each_with_index do |response, index| %>

      <div class="row" style="padding: 15px 12px;margin: 0px;background-color: <%= index % 2 == 0 ? 'ghostwhite' : '#dddddd21' %>;border-bottom: 2px solid white">

        <div class="col-sm-3">
          <div style="padding: 5px"><img src="/public2/images/smoothscroll/demo/pic5.png"></div>
        </div>
        <div class="col-sm-6">
          <div style="padding: 5px">
            <div style="font-size: 18px;color: #000a12;text-transform: capitalize;font-weight: bold;padding-bottom: 5px"><%= response.name %></div>
            <% response.price.each do |res| %>
              <div style="font-size: 14px;padding: 7px  0px;color: #4a4a4a;text-transform: capitalize !important;">
                <span style="color: #4a4a4a;text-transform: uppercase"><%= res['primaryItemName'] %> </span>
                <span>&nbsp;&nbsp; - &nbsp;&nbsp;</span>
                <span style="color: #ff7550;font-weight: bold">Rs. <%= res['price'] %></span>
              </div>
            <% end %>
            <br/>
          </div>
        </div>
        <div class="col-sm-3">
          <div style="padding: 5px;" class="text-center">
            <br/><br/><br/><br/>
            <a href="/cart_items/display_cart?menuName=<%= response.name %>" class="cart_but">Book Now</a>
          </div>
        </div>
        <div class=" col-sm-12 text-right">
          <span style="background-color:darkorange;color: white;font-size: 10px;font-weight: bold;padding: 4px;border-radius: 3px">
            <%= response.serviceType[0]['brand'] %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</main>

<script>
    function AddCart(value,) {
        if (value != null || value != '') {
            window.location.href = "/cart_items/display_cart";
        }
    }
</script>