<style>
  .page_content {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    color: black;
    padding: 5px;
  }

  .package_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 5px !important;
  }

  .header_div {
    border: 1px solid darkgrey;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }


</style>

<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/images/contact-us.jpg">
  <div class="tg-sectionspace tg-haslayout" style="background-color: #4CAF50;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Contact Us</h1>

        </div>
      </div>
    </div>
  </div>
</section>
<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <br/>
    <div align="center" style="margin-bottom: -14px;"> <span style="padding: 10px 20px;background-color: #125687;font-size: 20px;border-radius: 5px;color: #fff;"> <i class="fa fa-phone" aria-hidden="true"></i> 1800-425-45454</span></div>
    <div class="header_div">

      <p>We appreciate the opportunity to assist you. Whether, for answers to any questions about your up-coming
        personal trip, assistance with world-class convention/trade centers for your international business conventions
        and meetings, or for any other support required during your stay in Andhra Pradesh, please contact us at the
        following addresses.</p>
      <p>For Online Reservation related queries please mail to <a href="#">helpdesk@aptdc.in</a></p>
      <p>For any other information write to us at info@aptdc.in or contact us at the following tourism offices for any
        requirement.</p>
    </div>


    <div class="text-center">
      <br/>
      <h3 style="margin: 0px"> Andhra Pradesh Tourism Development Corporation</h3>
      <h5 style="margin: 0px">5th Floor, Stalin Corporate office, Auto Nagar, Industrial Area, Vijayawada.</h5>
      <br/>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div align="center" style="margin-bottom: -14px;"> <span style="padding: 10px 20px;background-color: #125687;font-size: 20px;border-radius: 5px;color: #fff;">Central Reservation Offices</span></div>
        <div style="border: 1px solid darkgrey;padding:40px 20px 20px 20px;border-radius: 5px;">
          <div><b>Visakhapatnam </b>RTC Complex,</div>
          <div>Visakhapatnam. Ph: +91 891-2788820</div>
          <div>Fax: +91 891-2788822 Cell: +91 9848813584.</div>
          <br/>

          <div><b>Vijayawada </b></div>
          <div>2nd Floor, Kevin Plaza, Opp.</div>
          <div>P.W.D.Grounds, M.G.Road, Vijayawada</div>

          <div>Ph: +91 866-2571393, 9848007025</div>


          <br/>
          <div><b>Tirupati </b></div>
          <div>Room No.5 & 6, Sridevi Complex, Tilak</div>
          <div>Road, Tirupati. Ph: +91 877-2289120.</div>
          <br/>
        </div>
      </div>
      <div class="col-sm-8">
        <div align="center" style="margin-bottom: -14px;"> <span style="padding: 10px 20px;background-color: #125687;font-size: 20px;border-radius: 5px;color: #fff;">Information & Reservation Offices</span></div>
        <div style="border: 1px solid darkgrey;padding:40px 20px 20px 20px;border-radius: 5px;">

          <div class="row">
            <div class="col-sm-4">
              <div style=" border-right:1px solid darkgrey">
                <div><b>Hyderabad Tank Bund Road </b>,</div>
                <div>Ph: +91 7729830011,</div>
                <div>Ph: 040-23325152.</div>
                <br/>
                <div><b>Tourism Plaza, Green Lands </b>,</div>
                <div>Ph: +91 7729820011,</div>
                <div>Ph: 040-23405656.</div>
                <br/>
                <div><b>Visakhapatnam Railway Station, </b></div>
                <div>Ph: +91 891-2788821.</div>
                <br/>
                <br/><br/>
              </div>
            </div>
            <div class="col-sm-4">
              <div style=" border-right:1px solid darkgrey">
                <div><b>Tirupati Srinivasam Complex </b>,</div>
                <div>Ph: +91 877-2289219</div>
                <div>Ph: 877-2289216</div>
                <br/>
                <div><b>Chennai</b> 31/14, Burkit Road,</div>
                <div> T.Nagar,Ph: +91 44-65439987</div>
                <div>Tele Fax : +91 44-24353373.</div>
                <br/>
                <div><b>Kolkata</b> 4/1, Sikkim House, Middleton Street</div>
                <div> Tele/Fax: +91 33-22813679</div>
                <div>Ph: +91 9330999811.</div>
                <br/>
              </div>
            </div>

            <div class="col-sm-4">
              <div>
                <div><b>Bangalore : A.P Tourism, </b>,</div>
                <div>Central Reservation Office, G-3, Janak Residency, Race course Road, Opp. Redcross Bhavan, Near Race
                  View Hotel,Race Course Road Bangalore - 560001
                </div>

                <br/>
                <div><b>Delhi </b>A.P. Bhavan</div>
                <div>Ph: +91 11-23381293.</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</main>



