<style>

  .page_content {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto';
    color: black;
    padding: 5px;
  }

  .package_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 5px !important;
  }
</style>


<br/><br/><br/><br/>
<main id="tg-main" class="tg-main tg-haslayout" style="margin: 5px">
  <br/><br/>
  <div class="container">
    <%= form_for(@order, :url => '/cart_items/place_order') do |f| %>
      <div class="row" style="margin: 0px">
        <div class="col-sm-6" style="padding: 5px;border-right: 2px solid #e6e6e6">
          <div style="padding-right:30px !important;">
            <div class="page_content"> Billing Details</div>
            <div style="padding: 5px;border-bottom: 1px solid #e6e6e6"></div>
            <br/>
            <div class="package_name"><%= @selectedItem.name %></div>
            <br/>
            <div class="clearfix"></div>

            <hr/>
            <%@selected_item_prices = TicketPrice.where("menu_id=?",@selectedItem.id) %>
            <% @selected_item_prices.each_with_index do |res, index| %>
              <div class="form-group">
                <div style="margin: 0px;color: #676767;padding: 5px 0px">
                  <span><%= res.name %></span> -
                  <span> <b style="color: darksalmon">Rs. <%= res.price %></b></span>
                </div>
                <% @tick_name = '' %>
                <% @tick_name = res.name %>
                <%= select_tag 'selected_ticket', options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), :prompt => "Please Select No of Tickets", :onchange =>"myFunction(this.value,'#{res.name}','#{res.price}','#{@selectedItem.id }')", :class => "form-control" %>
              </div>
              <hr>
            <% end %>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= label_tag('', 'First Name *', :class => 'control-label field_label_style') %>
                  <%= f.text_field :first_name, :placeholder => 'First Name', :class => "form-control", :required => true %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= label_tag('', 'Last Name *', :class => 'control-label field_label_style') %>
                  <%= f.text_field :last_name, :placeholder => 'Last Name', :class => "form-control", :required => true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag('', 'Visit Date *', :class => 'control-label field_label_style') %>
              <%= f.text_field :visit_date, :class => "form-control datepicker", :placeholder => 'Date', :required => true%>
            </div>

            <div class="form-group">
              <%= label_tag('', 'Email *', :class => 'control-label field_label_style') %>
              <%= f.text_field :email, :class => "form-control", :placeholder => 'Email', :required => true,:pattern=>"[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"  %>
            </div>
            <div class="form-group">
              <%= label_tag('', 'Phone Number *', :class => 'control-label field_label_style') %>
              <%= f.text_field :phone_no, :placeholder => 'PhoneNumber', :pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :onkeypress => 'return event.charCode >= 48 && event.charCode <= 57', :maxlength => "10", :class => "form-control", :required => true %>
            </div>
            <br/>
            <div class="form-group">
              <div class="row" style="margin: 0px">
                <div class="col-xs-3 text-center"><%= f.check_box :is_accepted , :required => true %></div>
                <div class="col-xs-9" style="color: red"><%= label_tag('', 'I agree to the Terms & Conditions.*', :class => 'control-label field_label_style') %></div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding: 5px;">
          <div style="padding-left:30px !important;">
            <br/>
            <div id="cart_content"><%= render :partial => 'selected_cart_items' %></div>
          </div>
        </div>
      </div>
      <br/>
      <div class="text-right"><%= f.submit "CHECKOUT", :class => 'btn btn-primary' %></div>
    <% end %>
  </div>
</main>

<script>
    function myFunction(no_of_items, ticketType,price,item) {
        var no_of_items = no_of_items == "" ? 0 : no_of_items;
        var ticketType = ticketType;
        if ((no_of_items != null || no_of_items != '') && ticketType != null) {
            $.ajax('/cart_items/change_cart_items?no_of_items=' + no_of_items + '&&ticketType=' + ticketType+'&&price=' + price + '&&item=' + item)
        }
    }

    function myFunction1(no_of_items, cart_id) {
        var no_of_items = no_of_items == "" ? 0 : no_of_items;
        var cart_id = cart_id
        if ((no_of_items != null || no_of_items != '') && cart_id != null) {
            $.ajax('/cart_items/change_cart_items?no_of_items=' + no_of_items + '&&cart_id='+cart_id)
        }
    }
</script>