<style>
  .branch_but {
    background-color: gainsboro;
    color: #504F4F;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid ghostwhite;
    font-size: 15px;
    border-radius: 5px 5px;
  }

  .lable_tag {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
  }

  .slected_tag {
    color: black;
    padding: 5px;
    border: none;
  }
</style>
<main id="tg-main" class="tg-main tg-haslayout">
  <br/>
  <br/>
  <br/>

  <div id="homePageData_content1">
    <%= render :partial => 'cityselection' %>
  </div>

  <div class="container-fluid" style="background-color: white">
    <div id="homePageData_content">
      <%= render :partial => 'homePageContent' %>
    </div>
  </div>
  <br/>


  <div class="aptdc-tour aptdc-light-grey">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-md-offset-3 text-center mb-40 animate-box">
          <h2>Popular Rides</h2>
          <p>We love to tell our successfull & beautiful boating
            places.</p>
        </div>
      </div>
    </div>
    <div class="tour-wrap">
      <a href="#" class="tour-entry animate-box">
        <div class="tour-img"
             style="background-image: url(/public2/images/smoothscroll/demo/pic11.png);">
        </div>
        <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Rushikonda Beach, Vizag</h2> <span class="city"> Vizag</span> <span
          class="price"></span>
				</span>
      </a> <a href="#" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic2.png);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Borra Caves</h2> <span class="city"> Araku</span> <span
        class="price"></span>
				</span>
    </a> <a href="/cart_items/display_cart?menuId=49" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic16.JPG);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Palnadu Boat</h2> <span class="city"> Vijayawada</span> <span
        class="price"></span>
				</span>
    </a> <a href="/cart_items/display_cart?menuId=76" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic17.jpg);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Dindi House Boat</h2> <span class="city"> Kakinada</span> <span
        class="price"></span>
				</span>
    </a>
      <a href="#" class="tour-entry animate-box">
        <div class="tour-img"
             style="background-image: url(/public2/images/smoothscroll/demo/pic8.png);">
        </div>
        <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Rajahmundry</h2> <span class="city"> Kakinada</span> <span
          class="price"></span>
				</span>
      </a>
      <a href="#" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic12.png);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Pattiseema</h2> <span class="city"> Kakinada</span> <span
        class="price"></span>
				</span>
    </a> <a href="#" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic4.png);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Rope Way</h2> <span class="city">Kurnool</span> <span
        class="price"></span>
				</span>
    </a> <a href="#" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic15.png);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Srisailam</h2> <span class="city"> Kurnool</span>
						<span class="price"></span>
				</span>
    </a> <a href="#" class="tour-entry animate-box">
      <div class="tour-img"
           style="background-image: url(/public2/images/smoothscroll/demo/pic6.png);">
      </div>
      <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>Chandragiri</h2> <span class="city"> Tirupati</span> <span
        class="price"></span>
				</span>
    </a>

      <a href="/cart_items/display_cart?menuId=1" class="tour-entry animate-box">
        <div class="tour-img"
             style="background-image: url(/public2/images/smoothscroll/demo/pic18.JPG);">
        </div>
        <span class="desc">
						<p class="star">
							<span><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i><i
                class="icon-star-full"></i><i class="icon-star-full"></i></span> 545
							Reviews
						</p>
						<h2>ML Bodisiri</h2> <span class="city"> Vijayawada</span> <span
          class="price"></span>
				</span>
      </a>

    </div>
  </div>
</main>