<main id="tg-main" class="tg-main tg-haslayout">
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Boating Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0;font-family:calibri;"><br><br>

    <table align="center" cellpadding="0" cellspacing="0" width="90%" style="border:1px solid #ccc;">
      <tr>
        <td align="center" bgcolor="#fff" style="padding: 10px 0 0px 0;height:35px;color:fff;">
          <img src="http://bookings.aptdc.in/images/emailHead.jpg">
        </td>
      </tr>
      <tr>
        <td bgcolor="#fff" style="padding: 10px;height:80px;color:fff;text-align: right !important;">
          <img src="<%=@order.barcode%>" style="width: 40%">
        </td>
      </tr>
      <tr>
        <td bgcolor="#ffffff" style="padding:20px;">
          <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #ccc;">
            <tr style="background:#0f91ca;height:30px;">
              <th colspan="6" style="border-right:1px solid #9c9c9c;color:fff;">Booking Confirmation Receipt</th>
            </tr>
            <tr style="height:25px;">
              <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">PNR/
                Ticket No
              </th>
              <th style="border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px;">
                <%= @order.ticket_no %></th>
              <th style="background:#f7f7f7;border-right:1px solid #9c9c9c; text-align:left;padding-right:5px;padding-left:8px;">
                Name
              </th>
              <th style="border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"> <%= @order.first_name + @order.last_name %></th>

            </tr>
            <tr style="height:25px;">
              <th style="background:#f7f7f7;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding-left:8px;text-align:left;padding-right:5px;">Booking
                Date
              </th>
              <td style="text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding-left:8px;"><%= @order.created_at %></td>
              <th style="background:#f7f7f7;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:left;padding-right:5px;">Payment
                Transaction Id
              </th>
              <td style="text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;"> <%= @order.merchant_transaction_id %></td>
            </tr>
            <tr style="height:25px;">
              <th style="background:#f7f7f7;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:left;padding-right:5px;">
                Visit Date
              </th>
              <td style="text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;"> <%= @order.visit_date %></td>
              <td style="background:#f7f7f7;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align:left;padding-right:10px;font-weight:bold">Mobile
                No
              </td>
              <td style="text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align:left;padding-right:10px;"><%= @order.phone_no %>
              </td>
            </tr>
          </table>
          <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #ccc;margin-top:10px">
            <tr style="background:#0f91ca;height:30px;">
              <th colspan="14" style="border-right:1px solid #9c9c9c;color:fff;">Booking Information:</th>
            </tr>
            <tr style="background:#e6e6e6;height:25px;">
              <th style="border-right:1px solid #9c9c9c;border-top:1px solid #9c9c9c;text-align: left;padding-left:8px;">S.No</th>
              <th style="border-right:1px solid #9c9c9c;border-top:1px solid #9c9c9c;text-align: left;padding-left:8px;">Location</th>
              <th style="border-right:1px solid #9c9c9c;border-top:1px solid #9c9c9c;text-align: left;padding-left:8px;">Service
                Name
              </th>
              <th style="border-right:1px solid #9c9c9c;border-top:1px solid #9c9c9c;text-align: left;padding-left:8px;">Ticket
                Type
              </th>
              <th style="border-right:1px solid #9c9c9c;border-top:1px solid #9c9c9c;text-align: left;padding-left:8px;">Qty</th>
              <th colspan="2">Total</th>

            </tr>
            <% @item_count = 0 %>
            <% @orderItems.each_with_index do |item, index| %>
              <tr style="height:25px;">
                <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align:center;text-align: left"><%= index + 1 %></td>
                <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align: left"> <%= item.city %>
                  <br><%= item.location %></td>
                <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align:left;padding-right:10px;text-align: left"><%= item.item_menu_name %></td>
                <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:left;text-align: left"><%= item.item_name %></td>
                <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:left;"><%= item.item_quandity %></td>
                <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:center;"><%= item.total_price %></td>
                <% @item_count = @item_count + item.item_quandity %>
              </tr>
            <% end %>
            <tr style="height:25px;">
              <td colspan="4" style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align:center;font-weight:bold;">Total</td>
              <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:left;"><%= @item_count %></td>
              <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:center;"><%= @order.transaction_amount %></td>
            </tr>
            <tr style="height:25px;">
              <td colspan="5" style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;text-align:right;padding-right:10px;font-weight:bold;">Total
                Amount Including GST


              </td>
              <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:center;font-weight:bold;">
                Rs. <%= @order.transaction_amount %> </td>
            </tr>

          </table>

        </td>
      </tr>
      <tr>
        <td align="center" height="20"><span style="color:red;font-weight:bold;"> *Note: </span> Thank You for choosing
          APTDC. Please produce this receipt at the time of Ridiing.
        </td>
      </tr>
      <tr>
        <td align="left" height="25" style="padding:10px"><br>
          Thank you for choosing APTDC. Please produce this receipt at the time of Rideing. along with any valid Photo
          ID.Please read Terms & Conditions.
        </td>
      </tr>

      <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #ccc;margin-top:10px">
            <tr style="background:#0f91ca;height:30px;">
              <th colspan="6" style="border-right:1px solid #9c9c9c;color:fff;"> Terms & Conditions</th>
            </tr>

            <tr style="height:25px;">
              <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;padding-top:8px;text-align:left;">

                <ol>
                  <li> Right of admission reserved and The ticket is not transferable.</li>
                  <li>.Tourist is required to carry this ticket at the time of availing the Ridiing along with a
                    valid ID proof.
                  </li>
                  <li>For any assistance in online booking please mail to helpdesk@aptdc.in</li>
                  <li> Cancellation and reschedule not allowed for this Tickets.</li>
                  <%if @orderItems[0].city == "VIJAYAWADA" %>
                    <li >Boating Activities are avilable from 10Am to  5Pm. </li>
                  <%end %>
                </ol>
              </td>
            </tr>
          </table>

        </td>
      </tr>

    </table>

  <br><br>
  </body>
  </html>
</main>