<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @cart_item.ticket_id %>
</p>

<p>
  <strong>No of items:</strong>
  <%= @cart_item.no_of_items %>
</p>

<p>
  <strong>Is updated:</strong>
  <%= @cart_item.is_updated %>
</p>

<p>
  <strong>Session:</strong>
  <%= @cart_item.session_id %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', cart_items_path %>
