<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
        <% city.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.text_field :name , :class => 'form-control', :placeholder => 'Name', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :active , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.check_box :active %>
      </div>
      <div class="form-group">
        <%= form.label :exit_id , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.number_field :exit_id, :class => 'form-control', :required => true %>
      </div>
      <div class="form-group">
        <%= form.label :tenantId , :class => 'control-label', :style => "text-transform: capitalize;" %>  <br/>
        <%= form.number_field :tenantId , :class => 'form-control', :required => true %>
      </div>
      <div class="actions">
        <%= form.submit(:class => 'btn btn-primary', :style => 'background-color:#0575AF') %>
      </div>
    </div>
  </div>
<% end %>
