
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6"><%= get_index_text('Cities') %></div>
  <div class="col-sm-6 text-right"><%= link_to 'New City', new_city_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#125687 !important' %></div>
</div>
<div class="table-responsive">
  <table id="zero_config" class="table table-striped table-bordered">
    <thead>
    <tr class="tr_style">
      <th>Id</th>
      <th>Name</th>
      <th>Active</th>
      <th>Exit</th>
      <th>Tenantid</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.id %></td>
        <td><%= city.name %></td>
        <td><%= city.active %></td>
        <td><%= city.exit_id %></td>
        <td><%= city.tenantId %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>


