<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Andhra Pradesh Tourism Development Corporation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/public2/apple-touch-icon.png">
  <link rel="icon" href="/resources/images/img/favicon.png">
  <link rel="stylesheet" href="/public2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public2/css/normalize.css">
  <link rel="stylesheet" href="/public2/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public2/css/icomoon.css">
  <link rel="stylesheet" href="/public2/css/owl.carousel.css">
  <link rel="stylesheet" href="/public2/css/bootstrap-select.css">
  <link rel="stylesheet" href="/public2/css/scrollbar.css">
  <link rel="stylesheet" href="/public2/css/jquery.mmenu.all.css">
  <link rel="stylesheet" href="/public2/css/prettyPhoto.css">
  <link rel="stylesheet" href="/public2/css/transitions.css">
  <link rel="stylesheet" href="/public2/css/main.css">
  <link rel="stylesheet" href="/public2/css/color.css">
  <link rel="stylesheet" href="/public2/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/public2/style.css"/>
  <link rel="stylesheet" type="text/css" href="/public2/style2.css"/>
  <link rel="Stylesheet" type="text/css" href="/public2/css/smooth-scroll.css"/>
  <link rel="Stylesheet" type="text/css" href="/public2/css/colorbox.css"/>
  <script src="/public2/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script defer type="text/javascript" src="/public2/js/tag-filter.js"></script>
  <script defer type="text/javascript" src="/public2/js/list-els-acc.js"></script>
  <script defer type="text/javascript" src="/public2/js/tag-filter1.js"></script>
  <script defer type="text/javascript" src="/public2/js/list-els-acc1.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/animate.css">
  <link rel="stylesheet" href="/resources/css/icomoon.css">
  <link rel="stylesheet" href="/resources/css/bootstrap.css">
  <link rel="stylesheet" href="/resources/css/magnific-popup.css">
  <link rel="stylesheet" href="/resources/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/resources/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/resources/css/jquery-ui.css">
  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="stylesheet" href="/resources/css/navbar.css">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>

    a {
      text-decoration: none !important;
    }

    .img-container {
      position: relative;
      font-family: Arial;
    }

    .text-block {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: #00000087;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }

    #makeMeScrollable {
      width: 100%;
      height: 350px;
      position: relative;
      margin-top: 123px;
    }

    #makeMeScrollable div.scrollableArea img {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      height: 100%;
    }

    #makeMeScrollable div.scrollableArea a {
      border: none;
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    #scroll {
      position: fixed;
      right: 10px;
      bottom: 10px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background-color: #e74c3c;
      text-indent: -9999px;
      display: none;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
      z-index: 9999
    }

    #scroll span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -8px;
      margin-top: -12px;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-bottom-color: #fff
    }

    #scroll:hover {
      background-color: #078DD5;
      opacity: 1;
      filter: alpha(opacity=100);
      -ms-filter: alpha(opacity=100)
    }
  </style>
  <script class="cssdeck" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="tg-home tg-homevone" >
<div class="text-center" id="what1" style="background-color: #06375b;padding: 10px;color: white;font-weight: bold;font-size: 16px;border-bottom: 3px solid #125687">Welcome
  To Andhra Pradesh Tourism Development Corporation
</div>
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <header id="tg-header" class="tg-header tg-haslayout">
    <div class="container-fluid">
      <div class="row">
        <div class="tg-navigationarea tg-headerfixed" id="what">
          <strong class="tg-logo"><a href="/"><img src="/public2/images/logo1.png" width="400" height="75"></a></strong>
          <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
            <ul>
              <li class="menu-item-has-children <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("homePage") ? 'current-menu-item' : '' %>">
                <a href="/">HOME</a></li>
              <li class="menu-item-has-children <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("aboutUs") ? 'current-menu-item' : '' %>">
                <a href="/cart_items/aboutUs">ABOUT US</a></li>
              <li class="menu-item-has-children  <%= session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].present? && session[ApplicationHelper::SessionConstants::SELECTED_MENU_ITEM].eql?("contactUs") ? 'current-menu-item' : '' %>">
                <a href="/cart_items/contactUs">CONTACT US</a></li>
            </ul>
          </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <%= yield %>
  <a  onclick="topScrool()" id="scroll" title="Scroll to Top" style="display: inline;">Top<span></span></a>


  <footer id="tg-footer" class="tg-haslayout">
    <div class="tg-footerbar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Copyright &copy; 2018 APTDC. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
<script src="/public2/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="/public2/js/jquery.mousewheel.min.js" type="text/javascript"></script>
<script src="/public2/js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
<script src="/public2/js/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="/public2/js/vendor/bootstrap.min.js"></script>
<script src="/public2/js/bootstrap-select.min.js"></script>
<script src="/public2/js/jquery-scrolltofixed.js"></script>
<script src="/public2/js/owl.carousel.min.js"></script>
<script src="/public2/js/jquery.mmenu.all.js"></script>
<script src="/public2/js/packery.pkgd.min.js"></script>
<script src="/public2/js/jquery.vide.min.js"></script>
<script src="/public2/js/scrollbar.min.js"></script>
<script src="/public2/js/prettyPhoto.js"></script>
<script src="/public2/js/countdown.js"></script>
<script src="/public2/js/parallax.js"></script>
<script src="/public2/js/gmap3.js"></script>
<script src="/public2/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



<script src="/resources/js/jquery.easing.1.3.js"></script>
<script src="/resources/js/jquery.waypoints.min.js"></script>
<script src="/resources/js/jquery.flexslider-min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/jquery.magnific-popup.min.js"></script>
<script src="/resources/js/magnific-popup-options.js"></script>
<script src="/resources/js/jquery-ui.js"></script>
<script src="/resources/js/jquery.stellar.min.js"></script>
<script src="/resources/js/main.js"></script>

<script>
    function select_division(value) {
        if (value != null || value != '') {
            $.ajax('/cart_items/division_based_branches?division=' + value)
        }
    }

    function select_location(value) {
        if (value != null || value != '') {
            $.ajax('/cart_items/cityBranchMenu?branch_name=' + value)
        }
    }


    function topScrool(){
        $('html, body').animate({
            scrollTop: $('#what').offset().top
        }, 'slow');
    }
    document.addEventListener('contextmenu', event => event.preventDefault());

</script>

<script>
    $('.datepicker').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
        minDate: +1,
        maxDate: '+3m'
    });

</script>
<script type="text/javascript" >
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
</body>
</html>